<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    ng-app="myApp"
    ng-init="firstName='Imran'; lastName='Farhat'; age=18; a=10; b=20; numsArr= [1,2,3,4]"
  >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app2.js"></script>
    <p>
      My name is <span ng-bind="firstName + ' ' + lastName"></span> <br />
      Age: {{age + 10}}
    </p>
    <p>
      The side is the rectange is {{a}} and {{b}}. The area is
      <span ng-bind="a*b"></span>
    </p>
    <p>The no. at the 3rd position is <span ng-bind="numsArr[1]"></span></p>
    <p ng-repeat="num in numsArr">Number is {{num}}</p>

    <div ng-controller="myController">
      <hr />
      <p ng-hide="isSpy">Full Name is {{fullName(fName, lName)}}</p>
      <p ng-hide="isSpy">Age is {{age}}</p>
      <p ng-show="isSpy">Codename: {{codeName}}</p>
    </div>

    <hr />
    <div ng-controller="employeeController">
      <div ng-repeat="employee in employees | orderBy:'-salary' ">
        <p>First Name: {{employee.fName | uppercase}}</p>
        <p>First Name (limit to 3 chars ): {{employee.fName | limitTo: 3}}</p>
        <p>Last Name: {{employee.lName | lowercase}}</p>
        <p>Salary: {{employee.salary | currency}}</p>
        <br />
      </div>
    </div>

    <h2>ng-click</h2>
    <hr />
    <div ng-controller="ngClickController">
      <button ng-click="count = count + 1; toggleShow()">
        Click to +1 the count
      </button>
      <p ng-show="show">Count is {{count}}</p>
    </div>

    <br />
    <h2>ng-model</h2>
    <hr />

    <div ng-controller="formController">
      <h3>Reviews</h3>
      <div ng-repeat="review in reviews">
        <div style="background-color: #eeeeee">
          <p>{{review.comment}} by <strong>{{review.author}}</strong></p>
        </div>
      </div>

      <form
        ng-submit="reviewForm.$valid && addReview()"
        name="reviewForm"
        novalidate
      >
        <p>Comment being typed: {{form.comment}}</p>
        <p>Author: {{form.author}}</p>

        <label for="comment">Comment</label>
        <br />
        <textarea
          ng-model="form.comment"
          id="comment"
          name="comment"
          cols="120"
          rows="5"
          required
        ></textarea>
        <br />
        <label for="author">Author</label>
        <br />
        <input
          ng-model="form.author"
          type="text"
          name="author"
          id="author"
          size="50"
          required
        />
        <br />
        <br />
        <button> Submit</button>

        <br />
        <p>Form Valid ? {{reviewForm.$valid}}</p>
      </form>
    </div>

    <br /><br /><br /><br />
  </body>
</html>
